```env
# ==========================
# API Keys
# ==========================

MISTRAL_API_KEY="enter-your-mistral-key"
GROQ_API_KEY="enter-your-groq-key"
TAVILY_API_KEY="enter-your-tavily-key"
OPEN_WEATHER_API_KEY="enter-your-openweather-key"
REDIS_URL="enter-your-redis-url"
PINECONE_API_KEY="enter-your-pinecone-key"

SARVAM_API_KEY="enter-your-sarvam-key"
SARVAM_STT_MODEL="enter-your-sarvam-stt-model"
DEEPGRAM_API_KEY="enter-your-deepgram-key"

# ==========================
# LangSmith
# ==========================

# Enable tracing
LANGCHAIN_TRACING_V2=false

# LangSmith endpoint
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

# LangSmith API Key
LANGCHAIN_API_KEY="enter-your-langsmith-key"

# LangSmith Project Name
LANGCHAIN_PROJECT="enter-your-project-name"
```
