# ==========================
# API Keys
# ==========================

MISTRAL_API_KEY="enter-your-mistral-key"
GROQ_API_KEY="enter-your-groq-key"
TAVILY_API_KEY="enter-your-tavily-key"
REDIS_URL="enter-your-redis-url" 
JINA_API_KEY="enter-your-jina-key"


# ==========================
# Database Keys
# ==========================

# NEON Database URL
DATABASE_URL="enter-your-database-url(neon)"

# Neo4j

NEO4J_URI="enter-your-neo4j-url"
NEO4J_USERNAME="enter-your-neo4j-username"
NEO4J_PASSWORD="enter-your-neo4j-password"


# ==========================
# LangSmith
# ==========================

# Enable tracing
LANGCHAIN_TRACING_V2=false

# LangSmith endpoint
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

# LangSmith API Key
LANGCHAIN_API_KEY="enter-your-langsmith-key"

# LangSmith Project Name
LANGCHAIN_PROJECT="enter-your-project-name"
```
